<rect rx="0" x="{{subjectWidth}}" width="{{reducedStatusWidth}}" height="20" fill="{{animatedColor}}"/>
    <rect rx="0" x="{{subjectWidth}}" width="{{reducedStatusWidth}}" height="20" fill="black" fill-opacity="0.0">
        <animate attributeName="fill-opacity" values="0.0;0.5;0.0" dur="2s" repeatCount="indefinite" />
    </rect>
