.ebs-builder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    overflow: hidden;
    padding: var(--section-padding);
    height: 400px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--card-background);
        background-image: radial-gradient(at 50% 100%, var(--light-red), transparent 70%),
                    radial-gradient(at 20% 100%, var(--light-blue), transparent 80%),
                    radial-gradient(at 70% 100%, var(--light-yellow), transparent 80%);
        z-index: -1;
        opacity: 0.1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border: var(--jenkins-border--subtle);
        border-radius: inherit;
        pointer-events: none;
    }
}

.ebs-builder__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 75px;
    width: 360px;

    img {
        scale: 150%;
    }
}

.ebs-copy-container {
    display: flex;
    flex-direction: column;
}

.ebs-copy-container__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: inherit;
    font-weight: 450;

    .jenkins-form-label {
        visibility: collapse;
        margin: 0;
    }

    .jenkins-select {
        width: unset !important;
        box-shadow: none;
    }

    .ebs-input {
        appearance: none;
        outline: none;
        background: transparent !important;
        border: none;
        min-height: 0;
        padding: 0.75rem 2.5rem 0.75rem 1rem;
        width: unset !important;
        font-size: inherit;
        cursor: pointer;
        box-shadow: none !important;
    }
}

.ebs-builder__controls {
    width: 360px;
}

.jenkins-copy-button {
    padding: 1rem;
    font-size: inherit;

    div {
        display: flex;
        margin-right: 10px;
        width: 360px;
        max-width: 380px;
        overflow: hidden;
        mask-image: linear-gradient(90deg, white calc(100% - 20px), transparent);
    }
}

.ebs-input {
    padding: 0.75rem;
    background: var(--button-background);
}
